* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}

.form {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 65px;
    padding-bottom: 54px;
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 49px;
}

.text-right {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 31px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding-top: 48px;
}

/**********/
/*CAPTCHA*/
.wrapper-captcha {
    text-align: center;
    margin: 1rem 0px;
}

.g-recaptcha {
    display: inline-block;
}

.invalid-feedback {
    color: red;
}


@media (max-width: 576px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}