<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$GLOBALS["CONFIG"]["basic"]["APP_NAME"]} | {((!isset($GLOBALS["request"]->getUrl()->getLink()[2]) || $GLOBALS["request"]->getUrl()->getLink()[2] != "forgot-password") ? ucfirst($GLOBALS["request"]->getUrl()->getLink()[1]) : "Reset password")}</title>
    <link rel="shortcut icon" href="/res/img/auth/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/res/fonts/iconic/css/material-design-iconic-font.min.css">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        @font-face {
            font-family: Poppins-Regular;
            src: url('/res/fonts/poppins/Poppins-Regular.ttf'); 
        }

        @font-face {
            font-family: Poppins-Medium;
            src: url('/res/fonts/poppins/Poppins-Medium.ttf'); 
        }

        @font-face {
            font-family: Poppins-Bold;
            src: url('/res/fonts/poppins/Poppins-Bold.ttf'); 
        }

        @font-face {
            font-family: Poppins-SemiBold;
            src: url('/res/fonts/poppins/Poppins-SemiBold.ttf'); 
        }
    </style>
    <link rel="stylesheet" href="/res/css/auth/form.css">
    <link rel="stylesheet" href="/res/css/auth/components.css">
    <script>
    $(function() {
        $(".input").focusout(function() {
            if($(this).val()) {
                $(this).addClass("has-val");
            } else {
                $(this).removeClass("has-val");
            }
        });
    });

    function captchaPassed() {
        $('#submit').removeAttr('disabled');
    }
    </script>
</head>
<body>
        <main>